<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>思兔閱讀 -繁體中文免費小說網</title>
    <meta name="keywords" content="繁體小說;玄幻小說;言情小說;網遊小說;二次元;思兔閱讀">
    <meta name="description"
        content="思兔閱讀免費提供繁體玄幻小說,言情小說,都市小說,網遊小說,軍事小說等各類最新熱門小說免費無彈窗無廣告全文閱讀。分享最新熱門小說，共享小說閱讀快樂，盡在小說閱讀網！">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link href="/style" rel="stylesheet">
    <link href="/project_78/css/components/container.scss" rel="stylesheet">
    <link href="/project_78/css/components/footer.scss" rel="stylesheet">
    <link href="/project_78/css/components/header.scss" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="/style/default.js" type="text/javascript"></script>
</head>

<body>
    <div class="header" id="header">
        <div class="container01">
            <div class="header-left">
                <a href="https://sto520.com" title="思兔閱讀" class="logo">思兔閱讀</a>
            </div>
            <div class="header-right">
                <script>
                    login();
                </script> <a href="/history.html">閲讀歷史</a> | <a href="/login.php?jumpurl=https://sto520.com/">登錄</a> |
                <a href="/register.php">注冊</a>

            </div>
            <div class="header-nav">
                <a href="https://sto520.com" title="首頁">首 頁</a>
                <a href="/class_1_1.html" title="書庫">書 庫</a>
                <a href="/top/allvisit_1.html" title="排行">排 行</a>
                <a href="/full_1.html" title="全本">全 本</a>
                <a href="/modules/article/search.php" title="搜索">搜 索</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container container01">
        <div class="content">
            <div class="search visible-xs">
                <form name="articlesearch" method="post" action="/modules/article/search.php">
                    <select name="searchtype" id="searchtype" class="select">
                        <option value="articlename" selected="">小說名</option>
                        <option value="author">作者名</option>
                    </select>
                    <input name="searchkey" type="text" class="text" id="searchkey" size="10" maxlength="50"
                        placeholder="搜索從這裡開始...">
                    <input type="hidden" name="action" value="login">
                    <button type="submit" name="submit">搜 索</button>
                </form>
            </div>
            <div class="clear"></div>
            <div class="content-left" id="fengtui">
                <h2>熱門小說推薦</h2>
                <% data.forEach( item => { %>
                    <div class="item">
                        <div class="image"><a href="<%= item.link_url %>"><img
                                    src="<%= item.remote_url %>" alt="<%= item.bookname %>" width="120"
                                    height="150"></a></div>
                        <dl>
                            <dt><span><%= item.name %></span><a href="<%= item.link_url %>"><%= item.bookname %></a></dt>
                            <dd> <%= item.contant %>
                            </dd>
                        </dl>
                        <div class="clear"></div>
                    </div>
                    <% }) %>
                
            </div>
            <div class="content-right" id="fengyou">
                <div class="search hidden-xs">
                    <form name="articlesearch" method="post" action="https://sto520.com/modules/article/search.php">
                        <select name="searchtype" id="searchtype" class="select">
                            <option value="articlename" selected="">小說名</option>
                            <option value="author">作者名</option>
                        </select>
                        <input name="searchkey" type="text" class="text" id="searchkey" size="10" maxlength="50"
                            placeholder="搜索從這裡開始...">
                        <input type="hidden" name="action" value="login">
                        <button type="submit" name="submit">搜 索</button>
                    </form>
                </div>
                <h2 class="visible-xs">閱讀排行榜</h2>
                <ul>
                    <li>[現代都市]<a href="https://sto520.com/book/15706/">戰爺的掌心寵又甜又嬌</a><span>古鈴然</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/10287/">夜的命名術</a><span>會說話的肘子</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/17121/">厲爺的小嬌妻又作妖了！宋錦書厲卿川</a><span>錦千歲</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/8482/">高攀不起的大佬是我的[重生]</a><span>芒果炸酥</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/10902/">回到九零，她在外科大佬圈火爆了</a><span>肥媽向善</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/9424/">神醫太撩人:王爺他又吃醋了!趙輕丹慕容霽</a><span>佚名</span></li>
                    <li>[言情小說]<a href="https://sto520.com/book/1892/">貴妃每天只想當鹹魚</a><span>大果粒</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/16075/">玉無香</a><span>冬天的柳葉</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/4548/">別鬧，薄先生！</a><span>楠楠李</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/6986/">娘娘她不想再努力了</a><span>大果粒</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/11169/">王妃日日想和離</a><span>熱宮娘娘</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/8250/">神醫娘親她是團寵大佬</a><span>MS芙子</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/12282/">在暴君後宮佛系種田日常</a><span>凌又年</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/16678/">退婚後我成了權臣心尖寵</a><span>藍白格子</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/14003/">婚然心動：前妻再嫁我一次尹向晚靳夜擎</a><span>慕容月</span></li>
                    <li>[言情小說]<a href="https://sto520.com/book/4906/">醫妃驚世</a><span>顧染錦</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/12469/">楚後</a><span>希行</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/5850/">廢柴王妃又在虐渣了蕭涼兒玄君臨</a><span>霜白</span></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="content">
            <div class="content-right" id="zuixin">
                <h2>最新小說</h2>
                <ul>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/20025/">玄幻：我有一百個丹田</a><span>寂寞觀魚</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/20024/">末世之唯我獨尊</a><span>白衣墨染</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/20023/">洪荒：我的心聲被后土偷聽了</a><span>夜龍吟</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/20022/">從城主到人族大帝</a><span>隔壁小皮</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/20021/">天神殿：不敗戰神</a><span>閃光</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/20020/">都市超等戰神</a><span>方天一</span></li>
                    <li>[武俠仙俠]<a href="https://sto520.com/book/20019/">開局就是元神老怪</a><span>8月12</span></li>
                    <li>[武俠仙俠]<a href="https://sto520.com/book/20018/">重生之無上聖尊</a><span>風鋒豐瘋</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/20017/">重生1993斗極品</a><span>蒙頭蒙腦的賣魚娘</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/20016/">冷艷總裁的貼身高手</a><span>傲天龍</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/20015/">快穿女配又在打臉了</a><span>養一隻兔</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/20014/">遮天之逆襲</a><span>楚南狂士</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/20013/">桃源小龍醫</a><span>日月星辰</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/20011/">老祖重生現代忙著帶娃</a><span>冷魅魅</span></li>
                    <li>[武俠仙俠]<a href="https://sto520.com/book/20012/">我真的是正經道士</a><span>九幽河上</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/20010/">凝脂美人在八零[穿書]</a><span>清春是金色鎖鏈</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/20008/">無情物</a><span>金十四釵</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/20007/">妖禍天下</a><span>南懷安</span></li>
                    <li>[武俠仙俠]<a href="https://sto520.com/book/20006/">淳樸厚道徐少俠</a><span>江戶川東南</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/20005/">穿書後反派把我帶歪了</a><span>慕聽風</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/20004/">我能透析萬物</a><span>不是蜈蚣</span></li>
                    <li>[其他類型]<a href="https://sto520.com/book/20003/">大佬又低調了</a><span>山指雨</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/20002/">變成人魚該如何是好</a><span>我是個假作者</span></li>
                    <li>[武俠仙俠]<a href="https://sto520.com/book/20001/">我的心中有福田</a><span>雪滿林中</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/20000/">洪荒：代管截教，同門全成聖了！</a><span>焚天</span></li>
                    <li>[現代都市]<a href="https://sto520.com/book/19999/">修仙歸來在校園</a><span>黑米飯</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/19998/">簽到諸天：我老婆是女帝</a><span>醉死夢中人</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/19997/">混沌天帝</a><span>天地大火</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/19996/">諸界斬妖人</a><span>簡而言之的簡</span></li>
                    <li>[玄幻奇幻]<a href="https://sto520.com/book/19995/">拐個神君做靠山</a><span>中皇晴雪</span></li>
                </ul>
            </div>
            <div class="content-left" id="gengxin">
                <h2>最近更新</h2>
                <ul>
                    <li><span class="s1">[遊戲競技]</span><span class="s2"><a
                                href="https://sto520.com/book/19857/">從霍格沃茨開始的黑魔王</a></span><span class="s3"><a
                                href="https://sto520.com/book/19857/10388110.html">第010章 飛行時間</a></span><span
                            class="s5"></span><span class="s4">七星肥熊</span></li>
                    <li><span class="s1">[其他類型]</span><span class="s2"><a
                                href="https://sto520.com/book/19339/">姜門出貴嬌</a></span><span class="s3"><a
                                href="https://sto520.com/book/19339/10388109.html">第一百一十九章 只想解釋</a></span><span
                            class="s5"></span><span class="s4">席翰卿</span></li>
                    <li><span class="s1">[科幻小說]</span><span class="s2"><a
                                href="https://sto520.com/book/10948/">網遊之諸天降臨</a></span><span class="s3"><a
                                href="https://sto520.com/book/10948/10388108.html">第六百七十七章 瀛國之罪</a></span><span
                            class="s5"></span><span class="s4">盼達</span></li>
                    <li><span class="s1">[現代都市]</span><span class="s2"><a
                                href="https://sto520.com/book/16500/">娛樂從搶流量開始</a></span><span class="s3"><a
                                href="https://sto520.com/book/16500/10388107.html">第151章正牌女友的好處</a></span><span
                            class="s5"></span><span class="s4">第三筆名</span></li>
                    <li><span class="s1">[現代都市]</span><span class="s2"><a
                                href="https://sto520.com/book/5086/">極品小神醫</a></span><span class="s3"><a
                                href="https://sto520.com/book/5086/10388106.html">第3493章 成為我的人吧！</a></span><span
                            class="s5"></span><span class="s4">EX咖喱棒</span></li>
                    <li><span class="s1">[玄幻奇幻]</span><span class="s2"><a
                                href="https://sto520.com/book/16525/">道侶是重生者，被我偷聽心聲</a></span><span class="s3"><a
                                href="https://sto520.com/book/16525/10388104.html">204、解決問題的最好方式是解決造成問題的人</a></span><span
                            class="s5"></span><span class="s4">油燜石頭</span></li>
                    <li><span class="s1">[現代都市]</span><span class="s2"><a
                                href="https://sto520.com/book/2860/">超級兵王混都市</a></span><span class="s3"><a
                                href="https://sto520.com/book/2860/10388103.html">第6390章 龍爭虎鬥</a></span><span
                            class="s5"></span><span class="s4">風火江南</span></li>
                    <li><span class="s1">[玄幻奇幻]</span><span class="s2"><a
                                href="https://sto520.com/book/9385/">史上最強太子</a></span><span class="s3"><a
                                href="https://sto520.com/book/9385/10388099.html">第952章 離去</a></span><span
                            class="s5"></span><span class="s4">楚墨降雪</span></li>
                    <li><span class="s1">[遊戲競技]</span><span class="s2"><a
                                href="https://sto520.com/book/15987/">進擊的城市</a></span><span class="s3"><a
                                href="https://sto520.com/book/15987/10388098.html">第133章 代號：男爵</a></span><span
                            class="s5"></span><span class="s4">午飯晚六點</span></li>
                    <li><span class="s1">[歷史軍事]</span><span class="s2"><a
                                href="https://sto520.com/book/800/">不讓江山</a></span><span class="s3"><a
                                href="https://sto520.com/book/800/10388097.html">第一千三百八十三章 送先生一程</a></span><span
                            class="s5"></span><span class="s4">知白</span></li>
                    <li><span class="s1">[其他類型]</span><span class="s2"><a
                                href="https://sto520.com/book/17386/">發展封地從沼澤開始</a></span><span class="s3"><a
                                href="https://sto520.com/book/17386/10388095.html">第95章 新城規劃</a></span><span
                            class="s5"></span><span class="s4">我就是龍</span></li>
                    <li><span class="s1">[其他類型]</span><span class="s2"><a
                                href="https://sto520.com/book/15097/">你的來電</a></span><span class="s3"><a
                                href="https://sto520.com/book/15097/10388096.html">第144章 戀人</a></span><span
                            class="s5"></span><span class="s4">葉非夜</span></li>
                    <li><span class="s1">[其他類型]</span><span class="s2"><a
                                href="https://sto520.com/book/10886/">退圈後她驚艷全球</a></span><span class="s3"><a
                                href="https://sto520.com/book/10886/10388094.html">486 百師獻祭，助安娜成帝（2更）</a></span><span
                            class="s5"></span><span class="s4">帝歌</span></li>
                    <li><span class="s1">[現代都市]</span><span class="s2"><a
                                href="https://sto520.com/book/12704/">神尊奶爸</a></span><span class="s3"><a
                                href="https://sto520.com/book/12704/10388092.html">第一千三百七十一章 喲，急了？</a></span><span
                            class="s5"></span><span class="s4">咫尺間</span></li>
                    <li><span class="s1">[武俠仙俠]</span><span class="s2"><a
                                href="https://sto520.com/book/12143/">盜天戰紀</a></span><span class="s3"><a
                                href="https://sto520.com/book/12143/10388091.html">第五百四十一章 一個態度</a></span><span
                            class="s5"></span><span class="s4">一斗之才</span></li>
                    <li><span class="s1">[武俠仙俠]</span><span class="s2"><a
                                href="https://sto520.com/book/3066/">獨步成仙</a></span><span class="s3"><a
                                href="https://sto520.com/book/3066/10388090.html">3790章 入陣</a></span><span
                            class="s5"></span><span class="s4">搞個錘子</span></li>
                    <li><span class="s1">[科幻小說]</span><span class="s2"><a
                                href="https://sto520.com/book/5054/">打籃球太厲害了怎麼辦</a></span><span class="s3"><a
                                href="https://sto520.com/book/5054/10388089.html">539.人們的誤區</a></span><span
                            class="s5"></span><span class="s4">超級麥克風</span></li>
                    <li><span class="s1">[現代都市]</span><span class="s2"><a
                                href="https://sto520.com/book/1043/">我就是超級警察</a></span><span class="s3"><a
                                href="https://sto520.com/book/1043/10388088.html">1636、小李飛刀【二合一章】</a></span><span
                            class="s5"></span><span class="s4">李氏唐朝</span></li>
                    <li><span class="s1">[現代都市]</span><span class="s2"><a
                                href="https://sto520.com/book/17367/">神醫龍婿</a></span><span class="s3"><a
                                href="https://sto520.com/book/17367/10388086.html">第二百三十一章 賽後狂瀾</a></span><span
                            class="s5"></span><span class="s4">塞上江南</span></li>
                    <li><span class="s1">[現代都市]</span><span class="s2"><a
                                href="https://sto520.com/book/15134/">歌迷</a></span><span class="s3"><a
                                href="https://sto520.com/book/15134/10388087.html">第219章
                                廁所里見過的粉絲大叔（1/3，求推薦票，求月票）</a></span><span class="s5"></span><span class="s4">寒門</span>
                    </li>
                    <li><span class="s1">[現代都市]</span><span class="s2"><a
                                href="https://sto520.com/book/14557/">全球探秘：開局扮演死侍，隊友麒麟小哥</a></span><span class="s3"><a
                                href="https://sto520.com/book/14557/10388085.html">第二百八十二章：坑害</a></span><span
                            class="s5"></span><span class="s4">養生真人</span></li>
                    <li><span class="s1">[現代都市]</span><span class="s2"><a
                                href="https://sto520.com/book/14298/">我絕世高人的身份被曝光了</a></span><span class="s3"><a
                                href="https://sto520.com/book/14298/10388084.html">第691章 殺</a></span><span
                            class="s5"></span><span class="s4">強力風暴</span></li>
                    <li><span class="s1">[現代都市]</span><span class="s2"><a
                                href="https://sto520.com/book/16781/">天天帶早餐，還說是高冷校花？</a></span><span class="s3"><a
                                href="https://sto520.com/book/16781/10388082.html">第140章 年輕人這麼會玩麼（2）</a></span><span
                            class="s5"></span><span class="s4">白白的小米粒</span></li>
                    <li><span class="s1">[其他類型]</span><span class="s2"><a
                                href="https://sto520.com/book/12398/">快穿系統之重生</a></span><span class="s3"><a
                                href="https://sto520.com/book/12398/10388081.html">第1128章 聽說男頻有個紅包群25</a></span><span
                            class="s5"></span><span class="s4">天機無雙</span></li>
                    <li><span class="s1">[武俠仙俠]</span><span class="s2"><a
                                href="https://sto520.com/book/3707/">神通不朽</a></span><span class="s3"><a
                                href="https://sto520.com/book/3707/10388080.html">第兩千二百七十九章 瘋狂的萬無一</a></span><span
                            class="s5"></span><span class="s4">太乙神蛇</span></li>
                    <li><span class="s1">[玄幻奇幻]</span><span class="s2"><a
                                href="https://sto520.com/book/20025/">玄幻：我有一百個丹田</a></span><span class="s3"><a
                                href="https://sto520.com/book/20025/10388076.html">第474章 捉拿</a></span><span
                            class="s5"></span><span class="s4">寂寞觀魚</span></li>
                    <li><span class="s1">[玄幻奇幻]</span><span class="s2"><a
                                href="https://sto520.com/book/20024/">末世之唯我獨尊</a></span><span class="s3"><a
                                href="https://sto520.com/book/20024/10387602.html">第一千五百三十九章監察天下</a></span><span
                            class="s5"></span><span class="s4">白衣墨染</span></li>
                    <li><span class="s1">[玄幻奇幻]</span><span class="s2"><a
                                href="https://sto520.com/book/2515/">帝皇的告死天使</a></span><span class="s3"><a
                                href="https://sto520.com/book/2515/10387275.html">第907章 惱怒的黑心王</a></span><span
                            class="s5"></span><span class="s4">莫格卓根</span></li>
                    <li><span class="s1">[遊戲競技]</span><span class="s2"><a
                                href="https://sto520.com/book/14239/">邪神醬的星期一</a></span><span class="s3"><a
                                href="https://sto520.com/book/14239/10387263.html">第219章 機器黎明</a></span><span
                            class="s5"></span><span class="s4">百鍊成殤</span></li>
                    <li><span class="s1">[遊戲競技]</span><span class="s2"><a
                                href="https://sto520.com/book/11753/">賜我神之名</a></span><span class="s3"><a
                                href="https://sto520.com/book/11753/10386442.html">第八百九十章 我們回家</a></span><span
                            class="s5"></span><span class="s4">沙拉古斯</span></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="content tuijian hidden-xs">
            友情連結：<a href="https://sto520.com" title="思兔閱讀">思兔閱讀</a>
            <a href="https://sto520.com/book/10287/" target="_blank">夜的命名術</a>
            <a href="https://sto520.com/book/5231/" target="_blank">顧先生的金絲雀</a>
            <a href="https://sto520.com/book/11169/" target="_blank">王妃日日想和離</a>
            <a href="https://sto520.com/book/4906/" target="_blank">醫妃驚世</a>
            <a href="https://sto520.com/book/10676/" target="_blank">重生後我嫁給了渣男的死對頭</a>
            <a href="https://sto520.com/book/13796/" target="_blank">機械鍊金術士</a>
            <a href="https://sto520.com/book/5486/" target="_blank">一醉經年</a>
            <a href="http://www.super-directory.net" target="_blank">超級網站目錄</a>
            <a href="http://www.hhlink.com" target="_blank">海外導航網</a>
            <a href="https://www.zzdir.com/" target="_blank">站長目錄</a>
            <a href="http://www.baiwanzhan.com " title="百萬站官網">百萬站官網</a>
            <a href="https://hyml1688.cn/" target="_blank">好運秒收錄</a>
            <a href="https://www.mffac.com/" target="_blank">自動秒收錄</a>
            <a href="https://www.1slw.cn/" target="_blank">我要收錄網</a>
            <a href="http://www.haoyundh.com/" target="_blank">好運收錄導航</a>
            <a href="http://www.shou6.com/" target="_blank">自動收錄網</a>
            <a href="http://www.url123.com/" target="_blank">URL123自動鏈</a>
            <a href="http://www.1lulao.com/" target="_blank">一路撈秒收錄網</a>
            <a href="https://www.imghuo.com/" target="_blank">外鏈火</a>
            <a href="https://www.zdl.link/" target="_blank">網址大全</a>
            <a href="https://www.llshoulu.com/" target="_blank">老劉收錄網</a>
            <a href="https://www.sticker.la/" target="_blank">Sticker桌面便簽目錄</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer">
        <p class="hidden-xs">思兔閱讀小說網所有內容均來自於網際網路抓取，本站內容只限港澳台和非大陸地區訪問閱讀。</p>
        <p class="hidden-xs">Copyright © 2020 思兔閱讀(https://sto520.com) All Rights Reserved.</p>
        <p class="visible-xs">Copyright © 2020 https://sto520.com<a href="#header"
                style="float:right;text-align:right;color:#fff;margin-right:10px">TOP↑</a></p>
        <div class="clear"></div>
    </div>

    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-198814308-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-198814308-1');
    </script>

</body>

</html>